<!doctype html>
<html lang="en">
<head>
    {% load static  %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<a href="{% url 'my_index'%}">Home</a>
<a href="{% url 'my_contact' %}">Contact us</a>
<a href="{% url 'my_gallery' %}">Our gallery</a>
<a href="{% url 'my_about' %}">About us</a>
<a href="{% url 'my_services' %}">Our Services</a>
<h2>Gallery page</h2>
<img src="{% static 'img/' %}" alt="">
</body>
</html>